header {
    font-family: 'Freckle Face', cursive;
    font-size: 125px;
    color: magenta;
    text-align: center;
    padding: 20px;

}

.instructions {
    font-family: 'Modern Antiqua', cursive;
    font-size: 18px;
}

.runningTotal {
    font-family: 'Modern Antiqua', cursive;
    font-size: 18px;
}

.score {
    font-family: 'Modern Antiqua', cursive;
    font-size: 18px;
}

.crystals {
    align-content: center;
}