header {
    font-family: 'Freckle Face', cursive;
    font-size: 125px;
    color: magenta;
    text-align: center;
}

body {
    background-image: url("../images/pirateship.jpg");
    background-position: 0;
    background-attachment: fixed;
}
.bottomContainer {
    font-family: 'Margarine', cursive;
    font-size: 20px;
    color: rgb(57, 211, 231);
    background-color: rgb(24, 101, 168);
    border-radius: 25px;
    padding: 20px;

}

.score {
    margin-top: 50px;
}

#startButton {
    margin-bottom: 25px;
}

.crystals {
    align-content: center;
    margin-bottom: 25px;
}